Package: com.ps.bigmoji
Name: Bigmoji
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Bigger emoji for iMessages
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
